<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Tracklight - Log In</title>
</head>
<body>
  <form action="/login" method="post">
    <label for="token">Token:</label>
    <input type="text" name="token" value="" id="token" />
    <button type="submit">Log in</button>
  </form>
</body>
</html>
