.panel {
  width: 500px;
  vertical-align: top;
}

.list {
  cursor: move;
  background-color: #fffc65;
  padding-bottom:1em;
  padding-top:1em;
}

.ticket.loading .title {
  font-style: italic;
}

.ticket.loading .link {
  display: none;
}
