.panel {
  width: 500px;
  vertical-align: top;
  background-color: #95a4ff;
}

.panel h1 {
  margin-top: 5px;
  padding-left: 5px;
}

.list {
  cursor: move;
  padding-bottom:1em;
  padding-left: 0;
}

.ticket {
  list-style-type: none;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  background-color: #efeb3f;
}

.ticket.loading .title {
  font-style: italic;
}

.ticket.loading .link {
  display: none;
}
